<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34227848610-ot9qcagu9vr4f5oopgqdf436s03lrs56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34227848610-ot9qcagu9vr4f5oopgqdf436s03lrs56</string>
	<key>API_KEY</key>
	<string>AIzaSyBMKFx9PbgziGd2dMi4FQio1BFue2Hvj4k</string>
	<key>GCM_SENDER_ID</key>
	<string>34227848610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fummicc1.EasyFirebaseSwift.Example</string>
	<key>PROJECT_ID</key>
	<string>easyfirebasefirestoreswift</string>
	<key>STORAGE_BUCKET</key>
	<string>easyfirebasefirestoreswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34227848610:ios:81e96b56b3cebc4ac71efb</string>
</dict>
</plist>