name: Build and Test Sources

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: "Build Sources"
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Install Java11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install xcpretty
        run: bundle install
      - name: Setup Firebase Emulator
        working-directory: ./firebase
        run: ./emulator_setup.sh
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      - name: Wait firebase_emulator_setup
        working-directory: .github/workflows
        run: ./wait_firebase_emulator_setup.sh
      - name: Build and Test
        run: |
          set -o pipefail && \
          xcodebuild -scheme EasyFirebaseSwiftAuth \
          clean build \
          -destination "name=iPhone 12" \
          | bundle exec xcpretty && \
          xcodebuild -scheme EasyFirebaseSwiftFirestore \
          clean build test \
          -destination "name=iPhone 12" \
          | bundle exec xcpretty && \
          xcodebuild -scheme EasyFirebaseSwiftStorage \
          clean build test \
          -destination "name=iPhone 12" \
          | bundle exec xcpretty
      - name: Kill firebase_emulator process
        run: kill `cat /tmp/firebase_emulator_pid.pid` &>/dev/null
