name: Build and Test Sources

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: "Build Sources"
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Install Java21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Install xcpretty
        run: bundle install
      - name: Build and Test with Firebase Emulators
        working-directory: ./firebase
        run: ./run_with_emulator.sh "set -o pipefail && swift build && swift test"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
